<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>

<body>
    <header>
        <nav>
            <a href="{% url 'login' %}"> Login</a> |
            <a href="{% url 'logout' %}"> Logout</a> |
        </nav>
    </header>
    <main>
        <div>
            <h1>Login</h1>

            {% if form.errors %}
            <p>Your username and password didn't match. Please try again.</p>
            {% endif %}


            {% if next %}
            {% if user.is_authenticated %}
            <p>
                Your account doesn't have access to this page. To proceed,
                please login with an account that has access.
            </p>
            {% else %}
            <p>
                Please login to see this page.
            </p>
            {% endif %}
            {% endif %}



            <form method="post" action="{% url 'login' %}">
                {% csrf_token %}
                <label for="user">Username:</label>
                <input type="text" id=user name="username">
                <br><br>
                <label for="pass">Password:</label>
                <input type="password" id="pass" name="password">
                <br><br>
                <button>Login</button>
                </table>
            </form>
        </div>
    </main>
</body>

</html>